{% extends "app/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  {% if form.errors %}
    <p>Invalid login.</p>
  {% endif %}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Login" class="btn btn-primary btn-lg">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  {# Assumes you setup the password_reset view in your URLconf #}
  {# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
{% endblock %}
