{% extends 'app/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  {% include 'app/links.html' %}
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form get_daily_intake_form %}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  </form>
  {% if intake_data|length > 0 %}
    {% include 'app/intake_table.html' with intake_data=intake_data %}
  {% else %}
    <h2>No intake for this date.</h2>
  {% endif %}
  <hr/>
  <h2>Add Intake</h2>
  <form action="{% url 'intake' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form add_intake_form %}
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  </form>
{% endblock %}
